.catalog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 81px 0 0 0;

  @media (max-width: $tablet_max) {
    padding: 51px 0 75px 0;
  }

  @media (max-width: $mobile_max) {
    padding: 41px 0 67px 0;
  }
}

.catalog__switch-filter {
  width: 88.23vw;
  height: 68px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: $bg_main_color;
  background-color: $bg_second_color;
  border: none;
  display: none;

  @media (min-width: $desktop_min) {
    display: none;
  }

  @media (max-width: $mobile_max) {
    width: 90.5vw;
  }
}

.catalog__switch-filter--visible {
  @media (min-width: $desktop_min) {
    display: none;
  }

  @media (max-width: $tablet_max) {
    display: block;
  }
}

.catalog__main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 87.85vw;
  max-width: 1197px;

  @media (max-width: 1324px) {
    width: 99vw;
    max-width: 1280px;
  }

  @media (max-width: $tablet_max) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 99.8vw;
  }
}

.catalog__filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  @media (max-width: $tablet_max) {
    width: 100%;
    padding: 0 0 89px 0;
  }

  @media (max-width: $mobile_max) {
    align-items: center;
  }
}

.catalog__filter-wrapper--open {
  @media (max-width: $tablet_max) {
    display: flex;
    height: 100%;
  }
}

.catalog__filter-wrapper--close {
  @media (max-width: $tablet_max) {
    display: none;
  }
}


.catalog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;

  @media (max-width: 1180px) {
    width: 720px;
  }

  @media (max-width: $tablet_max) {
    width: fit-content;
    margin: 49px 0 0 0;
  }

  @media (max-width: $mobile_max) {
    margin: 40px 0 0 0;
  }
}

.catalog__list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet_max) {
    justify-content: space-between;
    width: 92.4%;
  }

  @media (max-width: $mobile_max) {
    width: 100vw;
    min-width: 320px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 15px 37px 15px;
  list-style: none;

  @media (max-width: $mobile_max) {
    margin: 0 15px 27px 15px;
  }
}

.catalog__item-img,
.catalog__item-img img {
  width: 270px;
  height: 272px;
  background-color: $bg_third_color;

  @media (max-width: 1180px) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $mobile_max) {
    width: 130px;
    height: 136px;
  }
}

.catalog__item-header {
  margin: 24px 0 0 0;

  @media (max-width: $mobile_max) {
    width: 128px;
    margin: 20px 0 0 0;
  }
}

.catalog__item-header h4 {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;

  @media (max-width: $mobile_max) {
    line-height: 18px;
  }
}

.catalog__item-prise {
  margin: 10px 0 0 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
}

.catalog__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 37px 0 76px 0;
  width: 98%;

  @media (max-width: $tablet_max) {
    width: 89vw;
    margin: 40px 0 0 0;
  }

  @media (max-width: $mobile_max) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 19px 0 0 0;
  }
}

.catalog__switch {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: $text_main_color;
  border: none;
  background-color: transparent;

  @media (max-width: $mobile_max) {
    display: none;
  }
}

.catalog__pagination {
  width: fit-content;
  padding-right: 26px;

  @media (max-width: $mobile_max) {
    padding: 0;

    & .pagination__wrapper {
      width: 146px;
    }
  }
}
